<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Cine    
    </ion-title>
    <ion-segment value="all">
      <ion-segment-button value="peliculas" (click)="gotomovies()" >
        <ion-label>Peliculas</ion-label>
      </ion-segment-button>
      <ion-segment-button value="funciones" (click)="gotofunciones()">
        <ion-label> Funciones</ion-label>
      </ion-segment-button>
      <ion-segment-button (click)="openRegisterUserPage()">
        <ion-icon name="person-add"> </ion-icon>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">  
  <ion-fab vertical="top" horizontal="end" slot="fixed" [edge]="true">
    <ion-fab-button >
      <ion-icon name="log-out-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-row>
    <ion-col size="3" *ngFor="let movie of movies">
      <ion-card class="custom-card">
        <img  [src]="movie.img" class="movie-image-left"  />
        <ion-card-header>
          <ion-card-title>{{movie.nombre}}</ion-card-title>
          <ion-card-subtitle>{{movie.genero}} </ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content>
          {{movie.director}} -
          {{movie.duracion}} min.
        </ion-card-content>
        <ion-buttons>
          <ion-button color="danger" (click)="deleteMovie(movie._id)">
            <ion-icon size="large" name="trash-outline"></ion-icon>
          </ion-button>

          <ion-button (click)="openeditMoviePage(movie._id)">
            <ion-button color="warning">
              <ion-icon size="large" name="pencil"></ion-icon>
            </ion-button>
          </ion-button>
        </ion-buttons>

      </ion-card>
    </ion-col>
  </ion-row>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" [edge]="false">
    <ion-fab-button (click)="opennewMoviePage()">
      <ion-icon name="add"></ion-icon>

    </ion-fab-button>
  </ion-fab>
  

</ion-content>
