/* En tu archivo de estilos (styles.scss) */
.movie-image-left {
    width: 100px;
    height: auto; /* Ajusta el ancho según tus preferencias */
    float: left;
    margin-right: 5px; /* Ajusta el margen derecho según tus preferencias */
}

.custom-card {
    height: 220px;
    border: 1.5px solid #9700fc; 
}
  
